html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.navbar a:hover, .navbar a .navbar li, #menu-li a:hover, .appointment a:hover, .services a:hover, .row3 a:hover, .submit:hover, .about-appt a:hover, .tile1 p:hover {
  color: #16ab9f;
  text-decoration: none;
  transition: all 600ms ease-in-out; }

/*Universal Selectors****************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background-color: #1CD6C7;
  -webkit-font-smooth: antialiased; }
@font-face {
  body {
    font-family: "capsuula";
    src: url("fonts/capsuula.eot?") format("eot"), url("fonts/capsuula.woff2") format("woff2"), url("fonts/capsuula.woff") format("woff"), url("fonts/capsuula.ttf") format("truetype"), url("fonts/capsuula.svg#capsuula") format("svg"); } }
li {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 16px; }

ul {
  list-style-type: none;
  padding: 0; }

h1 {
  font-family: "capsuula", "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 60px;
  color: #1CD6C7; }

h2 {
  font-family: "capsuula", "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 30px;
  color: #fff;
  letter-spacing: 0.31px; }

h6 {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 1em; }

p {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 18px;
  color: #4A4A4A; }

label {
  font-family: "capsuula", "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.31px; }

input {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 20px;
  color: #2f2f2f;
  letter-spacing: 0.31px; }

/*Class Selectors********************/
.container {
  padding: 0; }

.row {
  width: 100%;
  margin: 0;
  padding: 0; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0.2);
  border: none; }

.navbar-default .navbar-brand {
  color: #fff; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #16ab9f; }

.navbar-default .navbar-text {
  color: #fff; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #16ab9f;
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #16ab9f;
  background-color: rgba(255, 255, 255, 0.001); }

.navbar, .navbar-default {
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 80px;
  margin-top: -2px; }

.navbar-default ul {
  width: 100%;
  z-index: 1;
  margin-top: -2px;
  margin-left: -20px;
  position: absolute; }

.navbar li {
  color: #fff;
  padding: 15px;
  font-size: 1.8em;
  transition: all 600ms ease-in-out;
  margin-left: 3%; }
  .navbar li:first-child {
    padding: 0; }

.navbar a {
  letter-spacing: 0.4px;
  display: block;
  text-align: justify;
  text-decoration: none;
  padding: 14px 50px;
  color: #fff;
  text-align: center;
  transition: all 600ms ease-in-out; }
  .navbar a:hover, .navbar a .navbar li {
    transform: scale(1.2); }

.navbar-nav > li > .dropdown-menu {
  margin-top: 5px; }

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 3px;
  min-width: 170px; }

.dropdown-menu .divider {
  height: 1px;
  overflow: hidden;
  background-color: #1CD6C7;
  padding: 0px; }

#menu-li {
  font-size: 1.5em;
  padding: 3px 0; }
  #menu-li a {
    color: #fff;
    color: #fff;
    text-align: center;
    transition: all 600ms ease-in-out; }
    #menu-li a:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transform: none !important; }
  #menu-li a:last-child {
    padding-left: 13px; }

/*appt button*/
.appointment {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 39px;
  color: #fff;
  letter-spacing: 0.4px;
  border: 3px solid #fff;
  border-radius: 14px;
  width: 470px;
  height: 75px;
  background: transparent;
  margin-top: 100px;
  z-index: 1; }

.appointment a {
  color: #fff;
  text-align: center;
  transition: all 600ms ease-in-out; }

/*Headline/main photo*/
.splash-intro-text {
  margin-top: 250px;
  text-align: center;
  z-index: 0; }

.splash-photo {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  display: block;
  margin: auto;
  width: 100%;
  z-index: -2;
  position: absolute; }

.row2 {
  margin-top: 120px;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .row2 p {
    padding-bottom: 50px;
    max-width: 700px;
    margin: 0 auto; }

/*Services button*/
.services {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 32px;
  color: #332D2D;
  letter-spacing: 0.5px;
  background: #fff;
  border: 3px solid #332D2D;
  border-radius: 14px;
  width: 200px;
  height: 60px;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  transition: all 600ms ease-in-out; }
  .services:hover {
    transition: all 600ms ease-in-out;
    background: #fff; }

.services a {
  color: #332D2D;
  text-align: center;
  transition: all 600ms ease-in-out;
  text-decoration: none; }
  .services a:hover {
    text-decoration: none; }

/*Photo carousel*/
.carousel-caption {
  top: 85% !important;
  transform: translateY(-15%); }

.carousel-caption p {
  font-style: "Gill Sans", "Gill Sans MT", sans-serif;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.5px; }

/*Footer*/
.row3 {
  background-color: #332D2D;
  padding: 35px; }

.row3 li {
  font-family: "capsuula", "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.31px;
  padding: 15px; }

.row3 a {
  color: #fff;
  text-align: center;
  transition: all 600ms ease-in-out; }

.col-md-6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }

/*Submit Button*/
.submit {
  background: #1CD6C7;
  border: 3px solid #fff;
  border-radius: 14px;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 32px;
  letter-spacing: 0.5px;
  width: 220px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  transition: all 600ms ease-in-out; }
  .submit:hover {
    background-color: #fff; }

/*col-md-3 is in row 3/bottom nav bar*/
.col-md-3 h2 {
  text-align: center;
  padding-top: 10px; }

.row2-aboutUS {
  margin-top: 42px;
  background-color: #fff;
  padding: 35px; }
  .row2-aboutUS:last-child h2 {
    margin: 5%; }
  .row2-aboutUS h2 {
    color: #332D2D;
    margin: 20px 0; }

.about-appt {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 32px;
  color: #332D2D;
  letter-spacing: 0.4px;
  border: 3px solid #332D2D;
  border-radius: 14px;
  width: 75%;
  height: auto;
  background: transparent;
  margin-top: 100px;
  z-index: 1; }

.about-appt a {
  color: #332D2D;
  text-align: center;
  transition: all 600ms ease-in-out; }

.address-text {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 18px;
  color: #332D2D;
  text-align: center; }

.address-text:first-of-type {
  padding-top: 40px; }

.address-text:last-of-type {
  padding-bottom: 90px; }

#facility p {
  font-size: 1em; }

.row2-patients {
  margin-top: 55px;
  background-color: #fff;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .row2-patients p {
    padding-bottom: 50px;
    max-width: 700px;
    margin: 0 auto; }

.first-visit {
  width: 100%; }

.faq {
  display: flex;
  flex-direction: row; }

.tile1 {
  background-color: #332D2D;
  height: 75vh;
  align-items: center;
  width: 50%; }
  .tile1 a {
    text-decoration: none; }
  .tile1 p {
    color: #fff;
    padding: 10px;
    font-size: 1.3em; }
  .tile1 h6 {
    padding: 10px; }
  .tile1 h1 {
    padding: 10px; }
  .tile1 p {
    color: #fff;
    text-align: center;
    transition: all 600ms ease-in-out; }

.tile2 {
  background-color: #413939;
  height: 75vh;
  align-items: center;
  width: 50%; }
  .tile2 a {
    text-decoration: none; }
  .tile2 p {
    color: #fff;
    padding: 10px;
    font-size: 1.3em; }
  .tile2 h6 {
    padding: 10px; }
  .tile2 h1 {
    padding: 10px; }

.tile3 {
  background-color: #1CD6C7;
  height: 75vh;
  align-items: center;
  width: 50%; }
  .tile3 a {
    text-decoration: none; }
  .tile3 p {
    color: #4A4A4A;
    padding: 10px;
    font-size: 1.3em; }
  .tile3 h6 {
    padding: 10px; }
  .tile3 h1 {
    color: #fff;
    padding: 10px; }

.tile4 {
  background-color: #107c73;
  height: 75vh;
  align-items: center;
  width: 50%; }
  .tile4 a {
    text-decoration: none; }
  .tile4 p {
    color: #4A4A4A;
    padding: 10px;
    font-size: 1.3em; }
  .tile4 h6 {
    padding: 10px; }
  .tile4 h1 {
    color: #fff;
    padding: 10px; }

.first-visit, .faq {
  width: 100%; }

.row1-contact h1 {
  padding-bottom: 250px; }

/*Id Selectors***********************/
#nav-logo {
  height: 75px;
  width: 220px;
  margin-right: 10%; }

#comment-input {
  width: 100%; }

#location-photo {
  width: 90%;
  height: 470px;
  margin-left: 5%; }

#sarah-photo {
  width: 68%;
  height: auto;
  margin-left: 16%; }

/*Media Queries**********************/
/*smaller desktops*/
@media only screen and (max-width: 1200px) {
  .navbar li {
    padding-left: 8px;
    margin-left: 2%; }

  .navbar a {
    letter-spacing: 0.7px;
    padding-top: 20px; }

  .splash-photo {
    width: 100%; }

  .splash-intro-text {
    margin-top: 135px; }

  .row2 {
    margin-top: 55px; }

  .carousel-caption {
    top: 80% !important;
    transform: translateY(-20%); }

  .carousel-caption p {
    font-size: 16px;
    letter-spacing: 0.7px; }

  #nav-logo {
    height: 70px;
    width: 205px; }

  .first-visit h1, .faq h1 {
    font-size: 3em; }

  #location-photo {
    height: 380px; } }
/*tablet*/
@media only screen and (max-width: 991px) {
  .navbar li {
    font-size: 1.2em;
    margin-left: 1%; }

  .splash-photo {
    width: 100%;
    height: 500px;
    object-fit: cover; }

  .splash-intro-text {
    margin-top: 160px;
    font-size: 52px; }

  .row2 {
    margin-top: 45px; }

  .appointment {
    margin-top: 60px;
    font-size: 30px;
    width: 300px;
    height: 60px; }

  .carousel-caption {
    top: 77% !important;
    transform: translateY(-23%); }

  .submit {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }

  col-md-3 ul {
    margin: auto 0; }

  .col-md-3 li {
    text-align: center; } }
/*mobile*/
@media only screen and (max-width: 767px) {
  .navbar-default ul {
    background-color: #332D2D;
    margin-top: 29px;
    width: 101%; }

  .faq {
    flex-wrap: wrap; }
    .faq .tile1 {
      width: 100%;
      height: 60vh; }
    .faq .tile3 {
      width: 100%;
      height: 60vh; } }

/*# sourceMappingURL=application.css.map */
