html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.navB a:hover, .navB a .navB li, #menu-li a:hover, .appointment a:hover, .services a:hover, .row3 a:hover, .submit:hover, .triangle-bio #tri-clinical:hover, .triangle-bio #tri-education:hover, .triangle-bio #tri-advocate:hover, .tile1 p:hover, .tile2 p:hover {
  color: #16ab9f;
  text-decoration: none;
  transition: all 600ms ease-in-out; }

/*Universal Selectors****************/
*,
*::before,
*::after {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background-color: #1CD6C7;
  -webkit-font-smooth: antialiased; }
@font-face {
  body {
    font-family: "capsuula";
    src: url("fonts/capsuula.eot?") format("eot"), url("fonts/capsuula.woff2") format("woff2"), url("fonts/capsuula.woff") format("woff"), url("fonts/capsuula.ttf") format("truetype"), url("fonts/capsuula.svg#capsuula") format("svg"); } }
li {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 16px; }

ul {
  list-style-type: none;
  padding: 0; }

h1 {
  font-family: "capsuula", "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 60px;
  color: #1CD6C7; }

h2 {
  font-family: "capsuula", "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 30px;
  color: #fff;
  letter-spacing: 0.31px; }

h6 {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 1em;
  color: #fff; }

p {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 18px;
  color: #4A4A4A; }

label {
  font-family: "capsuula", "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.31px; }

input {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 20px;
  color: #2f2f2f;
  letter-spacing: 0.31px; }

/*Class Selectors********************/
.container {
  padding: 0; }

.row {
  width: 100%;
  margin: 0;
  padding: 0; }

/* css bootstrap default nav fixes*/
.navBDefault {
  background-color: rgba(255, 255, 255, 0.2);
  border: none; }

.navBDefault .navbar-brand {
  color: #fff; }

.navBDefault .navbar-brand:hover,
.navBDefault .navbar-brand:focus {
  color: #16ab9f;
  /*background-color: transparent;*/ }

.navBDefault .navbar-text {
  color: #fff; }

.navBDefault .navbNav > li > a {
  color: #fff; }

.navBDefault .navbNav > li > a:hover,
.navBDefault .navbNav > li > a:focus {
  color: #16ab9f;
  background-color: transparent; }

.navBDefault .navbNav > .open > a, .navBDefault .navbNav > .open > a:hover, .navBDefault .navbNav > .open > a:focus {
  color: #16ab9f;
  background-color: rgba(255, 255, 255, 0.001); }

/*bespoke navbar styles*/
.navB, .navBDefault {
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: -2px; }

.navBDefault ul {
  width: 100%;
  margin-top: -2px;
  margin-left: -15px; }

.navB li {
  color: #fff;
  padding: 25px 10px;
  font-size: 1.8em;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
  margin-left: 9%; }
  .navB li:first-child {
    padding: 0;
    margin-left: 0; }

.navB a {
  letter-spacing: 0.4px;
  display: block;
  text-align: justify;
  text-decoration: none;
  padding: 14px 50px;
  color: #fff;
  text-align: center;
  transition: all 600ms ease-in-out; }
  .navB a:hover, .navB a .navB li {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

.navbNav > li > a {
  line-height: 25px; }

.navbNav > li > .dropDownMenu {
  margin-top: 5px; }

.dropDownMenu {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 3px;
  min-width: 170px; }

.dropDownMenu .divider {
  height: 1px;
  overflow: hidden;
  background-color: #1CD6C7;
  padding: 0px; }

#menu-li {
  font-size: 1.05em;
  padding: 3px 0; }
  #menu-li a {
    color: #fff;
    color: #fff;
    text-align: center;
    transition: all 600ms ease-in-out; }
    #menu-li a:hover {
      background-color: rgba(255, 255, 255, 0.2);
      -webkit-transform: none !important;
      transform: none !important; }
  #menu-li a:last-child {
    padding-left: 13px; }

/*appt button*/
.appointment {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 34px;
  color: #fff;
  letter-spacing: 0.4px;
  border: 3px solid #fff;
  border-radius: 14px;
  width: 480px;
  height: 75px;
  background: transparent;
  margin-top: 100px;
  z-index: 1; }

.appointment a {
  color: #fff;
  text-align: center;
  transition: all 600ms ease-in-out; }

/*Headline/main photo*/
.splash-intro-text {
  margin-top: 250px;
  text-align: center;
  z-index: 0; }

.contact-intro-text {
  margin-top: 104px; }

.splash-photo {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  display: block;
  margin: auto;
  width: 100%;
  z-index: -2;
  position: absolute; }

.contact-photo {
  height: 450px;
  -o-object-fit: cover;
  object-fit: cover; }

.row2 {
  margin-top: 120px;
  background-color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .row2 p {
    padding-bottom: 50px;
    max-width: 810px;
    margin: 0 auto; }

/*Services button*/
.services {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 32px;
  color: #332D2D;
  letter-spacing: 0.5px;
  background: #fff;
  border: 3px solid #332D2D;
  border-radius: 14px;
  width: 200px;
  height: 60px;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
  transition: all 600ms ease-in-out; }
  .services:hover {
    -webkit-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    background: #fff; }

.services a {
  color: #332D2D;
  text-align: center;
  transition: all 600ms ease-in-out;
  text-decoration: none; }
  .services a:hover {
    text-decoration: none; }

/*Photo carousel*/
.carousel-caption {
  top: 85% !important;
  -webkit-transform: translateY(-15%);
  transform: translateY(-15%); }

.carousel-caption p {
  font-style: "Gill Sans", "Gill Sans MT", sans-serif;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.5px; }

/*Footer*/
.row3 {
  background-color: #332D2D;
  padding: 35px; }

.row3 li, .row3 p {
  font-family: "capsuula", "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 20px;
  color: #fff;
  letter-spacing: 0.31px;
  padding: 15px;
  text-align: center; }

.row3 h2 {
  padding: 10px;
  text-align: center;
  font-size: 22px; }

.row3 a {
  color: #fff;
  text-align: center;
  transition: all 600ms ease-in-out; }

.col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/*Submit Button*/
.submit {
  background: #1CD6C7;
  border: 3px solid #fff;
  border-radius: 14px;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 32px;
  /*color: $btn-text;*/
  letter-spacing: 0.5px;
  width: 220px;
  margin-top: 30px;
  color: #fff;
  text-align: center;
  transition: all 600ms ease-in-out; }
  .submit:hover {
    background-color: #fff; }

/*col-md-3 is in row 3/bottom nav bar*/
.col-md-3 h2 {
  text-align: center;
  padding-top: 10px; }

/*about us page styling*/
.row2-aboutUS {
  margin-top: 42px;
  background-color: #fff;
  padding: 50px 0; }
  .row2-aboutUS:last-child h2 {
    margin: 5%; }
  .row2-aboutUS h2 {
    color: #332D2D;
    margin: 20px 0; }

.triangle-bio {
  position: relative;
  padding: 20px;
  width: 45%;
  height: 465px; }
  .triangle-bio #tri-clinical {
    position: absolute;
    top: 0px;
    left: 155px;
    color: #fff;
    text-align: center;
    transition: all 600ms ease-in-out; }
    .triangle-bio #tri-clinical:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      z-index: 1; }
  .triangle-bio #tri-education {
    position: absolute;
    top: 234px;
    left: 20px;
    color: #fff;
    text-align: center;
    transition: all 600ms ease-in-out; }
    .triangle-bio #tri-education:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      z-index: 1; }
  .triangle-bio #tri-advocate {
    position: absolute;
    top: 234px;
    left: 213px;
    color: #fff;
    text-align: center;
    transition: all 600ms ease-in-out; }
    .triangle-bio #tri-advocate:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      z-index: 1; }

.triangle-answers {
  padding: 20px;
  padding-right: 0;
  width: 45%;
  height: 465px; }

.address-text {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 18px;
  color: #332D2D;
  text-align: center; }

.address-text:first-of-type {
  padding-top: 40px;
  font-weight: bold; }

.address-text:last-of-type {
  padding-bottom: 50px; }

.tile4 img {
  max-width: 90%;
  max-height: auto;
  margin-left: 5%;
  margin-top: 1%; }

#facility p {
  font-size: 1em; }

/* patients.html page styling*/
.row2-patients {
  margin-top: 55px;
  background-color: #fff;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .row2-patients p {
    padding-bottom: 50px;
    max-width: 700px;
    margin: 0 auto; }

.first-visit {
  width: 100%; }

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.tile1 {
  background-color: #332D2D;
  height: 75vh;
  align-items: center;
  width: 100%; }
  .tile1 a {
    text-decoration: none; }
  .tile1 p {
    color: #fff;
    padding: 10px;
    font-size: 1.3em; }
  .tile1 h6 {
    padding: 0 10px; }
  .tile1 h1 {
    padding: 10px; }
  .tile1 p {
    color: #fff;
    text-align: center;
    transition: all 600ms ease-in-out; }
  .tile1 h6 {
    padding: 10px; }

.tile2 {
  background-color: #107c73;
  height: 75vh;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .tile2 a {
    text-decoration: none; }
  .tile2 p {
    color: #fff;
    padding: 10px;
    font-size: 1.3em; }
  .tile2 h6 {
    padding: 0 10px; }
  .tile2 h1 {
    position: absolute;
    left: 20px;
    padding: 10px;
    color: #fff; }
  .tile2 p {
    color: #fff;
    text-align: center;
    transition: all 600ms ease-in-out; }
  .tile2 h6 {
    color: #fff;
    padding: 10px; }

.tile3 {
  background-color: #107c73;
  height: 75vh;
  align-items: center;
  width: 50%; }
  .tile3 a {
    text-decoration: none; }
  .tile3 p {
    color: #4A4A4A;
    padding: 10px;
    font-size: 1.3em; }
  .tile3 h6 {
    padding: 0 10px; }
  .tile3 h1 {
    color: #fff;
    padding: 10px; }
  .tile3 h6 {
    color: #fff;
    padding: 10px; }

.tile4 {
  background-color: #107c73;
  height: 75vh;
  align-items: center;
  width: 50%; }
  .tile4 a {
    text-decoration: none; }
  .tile4 p {
    color: #4A4A4A;
    padding: 10px;
    font-size: 1.3em; }
  .tile4 h6 {
    padding: 0 10px; }
  .tile4 h1, .tile4 a {
    color: #fff;
    padding: 10px; }
  .tile4 h6 {
    color: #fff; }

.faq .tile1, .faq .tile2, .faq .tile3, .faq .tile4 {
  height: 100%; }

.first-visit, .faq {
  width: 100%; }

/*contacts styling*/
.row1-contact h1 {
  padding-bottom: 175px; }

/*Id Selectors***********************/
#nav-logo {
  height: 75px;
  width: 220px;
  margin-right: 10%; }

#comment-input {
  width: 100%; }

#location-photo {
  width: 90%;
  height: 470px;
  margin-left: 5%; }

#sarah-photo {
  width: 68%;
  height: auto;
  margin-left: 16%; }

#form1 {
  margin-top: 70px; }

#faqA1, #faqA2, #faqA3, #faqA4, #faqA5, #faqA6 {
  display: none; }

#formPDF1, #formPDF2, #formPDF3, #formPDF4 {
  display: none; }

#serveA1, #serveA2, #serveA3, #serveA4, #serveA5, #serveA6 {
  display: none; }

#faqQ6, #faqA6, #form4, #serveQ6, #formPDF4, #serveA6 {
  margin-bottom: 40px; }

#formAnswer img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*Media Queries**********************/
/*smaller desktops*/
@media only screen and (max-width: 1200px) {
  .container {
    width: 93%; }

  .navBDefault ul {
    width: 108%;
    margin-top: 0;
    margin-left: 0; }

  .navB li {
    padding-left: 8px;
    margin-left: 6%;
    padding-top: 31px; }
    .navB li:first-child {
      margin-left: 2%; }

  .navB a {
    letter-spacing: 0.7px;
    font-size: 24px; }

  .splash-photo {
    width: 100%; }

  .splash-intro-text {
    margin-top: 135px; }

  .contact-intro-text {
    margin-top: 104px; }

  .row2 {
    margin-top: 55px; }

  .carousel-caption {
    top: 80% !important;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%); }

  .carousel-caption p {
    font-size: 16px;
    letter-spacing: 0.7px; }

  #nav-logo {
    margin-top: 7px;
    height: 70px;
    width: 205px; }

  .first-visit h1, .faq h1 {
    font-size: 3em; }

  #location-photo {
    height: 380px; } }
/*tablet*/
@media only screen and (max-width: 991px) {
  .container {
    width: 96%; }

  .navB li {
    font-size: 1.05em;
    margin-left: 5%; }

  .navB a {
    letter-spacing: 0.7px;
    font-size: 20px; }

  .splash-photo {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
    object-fit: cover; }

  .splash-intro-text {
    margin-top: 200px;
    font-size: 48px; }

  .row2 {
    margin-top: 45px; }

  .appointment {
    margin-top: 60px;
    font-size: 24px;
    width: 310px;
    height: 60px; }

  .carousel-caption {
    top: 77% !important;
    -webkit-transform: translateY(-23%);
    transform: translateY(-23%); }

  .submit {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; }

  .col-md-3 ul {
    margin: auto 0; }

  .col-md-3 li {
    text-align: center; }

  .faq .tile1, .faq .tile2, .faq .tile3, .faq .tile4 {
    height: 520px; }

  .triangle-bio {
    padding: 20px 0; }
    .triangle-bio #tri-clinical {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
      top: 15px;
      left: 95px; }
      .triangle-bio #tri-clinical:hover {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9); }
    .triangle-bio #tri-education {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
      top: 213px;
      left: -20px; }
      .triangle-bio #tri-education:hover {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9); }
    .triangle-bio #tri-advocate {
      -webkit-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);
      top: 213px;
      left: 128px; }
      .triangle-bio #tri-advocate:hover {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9); } }
/*mobile*/
@media only screen and (max-width: 767px) {
  .container {
    width: 100%; }

  .navBDefault ul {
    background-color: #332D2D;
    margin-top: 0;
    margin-left: 0;
    width: 100%; }

  .navB li {
    padding: 2px; }

  .splash-intro-text {
    margin-top: 200px;
    font-size: 34px;
    position: relative; }

  .appointment {
    margin-top: 60px;
    font-size: 24px;
    width: 290px;
    height: 60px;
    position: relative; }

  .faq {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .faq .tile1, .faq .tile2, .faq .tile3, .faq .tile4 {
      width: 100%;
      height: 100%; }

  .tile4 {
    display: none; }

  .triangle-bio {
    height: 390px; }
    .triangle-bio #tri-clinical {
      -webkit-transform: scale(0.7, 0.7);
      transform: scale(0.7, 0.7);
      top: 20px;
      left: 95px; }
      .triangle-bio #tri-clinical:hover {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8); }
    .triangle-bio #menu-li {
      padding: 0px;
      font-size: 1.05em; }
    .triangle-bio #tri-education {
      -webkit-transform: scale(0.7, 0.7);
      transform: scale(0.7, 0.7);
      top: 198px;
      left: -10px; }
      .triangle-bio #tri-education:hover {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8); }
    .triangle-bio #tri-advocate {
      -webkit-transform: scale(0.7, 0.7);
      transform: scale(0.7, 0.7);
      top: 198px;
      left: 115px; }
      .triangle-bio #tri-advocate:hover {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8); } }

/*# sourceMappingURL=application.css.map */
