/*Universal Selectors****************/

body {
background-color: #1CD6C7;
}

li {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  font-size: 24px;
}

@fontface {
  font-family: 'capsuula'
  src: url(../fonts/Capsuula.ttf);
}

h1 {
  font-family: 'capsuula', 'Gill Sans', sans-serif;
  font-size: 64px;
  color: #1CD6C7;
}

p {
font-family: GillSans;
font-size: 18px;
color: #4A4A4A;
}

/*Class Selectors********************/
.container {

}

.navbar {
display: flex;
justify-content: center;
}

.navbar ul {
   background-color: rgba(255, 255, 255, 0.2);
   list-style-type: none;
   width: 100%;
   position: absolute;
}

.navbar li {
  float: left;
  padding-left: 15px;
}

.navbar li a {
  font-size: 1.2em;
  color: white;
  letter-spacing: 0.4px;
  display: block;
  text-align: justify;
  padding: 14px 50px;
  text-decoration: none;
}

.navbar li a:hover {
  color: #16ab9f;
}

.appointment {
font-family: 'GillSans';
font-size: 39px;
color: #FFFFFF;
letter-spacing: 0.4px;
border: 3px solid #FFFFFF;
border-radius: 14px;
width: 502px;
height: 75px;
background: transparent;
margin-top: 100px;
z-index: 1;
}

.appointment a{
  color: #fff;
  text-align: center;
}

.appointment a:hover{
  color: #16ab9f;
  text-decoration: none;
}

.splash-intro-text {
  margin-top: 300px;
  text-align: center;
  z-index: 0;
}

.splash-photo {
  display: block;
  margin: auto;
  width: 100%;
  z-index: -2;
  position: absolute;
}

.filter {
  /*border: 20px solid tomato;*/
  background-color: #2f2f2f;
  filter: opacity(50%);
  height: 753.734px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.row2 {
  margin-top: 140px;
  background-color: #fff;
  padding: 50px;
}

.row2 p {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  /*need flexbox!*/
  padding-bottom: 50px;
}

.services {
  font-family: 'GillSans';
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  background: #1CD6C7;
  border: 3px solid #332D2D;
  border-radius: 14px;
  width: 210px;
  height: 60px;
  padding-bottom: 50px;
}

.services a{
  color: #fff;
  text-align: center;
}

.services a:hover{
  color: #16ab9f;
  text-decoration: none;
}

/*Id Selectors***********************/


#nav-logo {
  height: 75px;
  width: 220px;
}


/*Media Queries**********************/
