/*Universal Selectors****************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: $background-color;
  @include font-face('capsuula', fonts/capsuula);
  -webkit-font-smooth: antialiased;
}

li {
  font-family: $font-sec;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-family: $font-main;
  font-size: 60px;
  color: $h1color;
}

h2 {
font-family: $font-main;
font-size: 30px;
color: $h2-text;
letter-spacing: 0.31px;
}

h6 {
  font-family: $font-sec;
  font-size: 1em;
}

p {
font-family: $font-sec;
font-size: 18px;
color: $p-text;
}

label {
  font-family: $font-main;
  font-size: 20px;
  color: $label-text;
  letter-spacing: 0.31px;
}

input {
  font-family: $font-sec;
  font-size: 20px;
  color: $input-text;
  letter-spacing: 0.31px
}

/*Class Selectors********************/

.container {
  padding: 0;
}
.row {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* css bootstrap default nav fixes*/
.navBDefault {
  background-color: $opacity;
  border: none;
}
.navBDefault .navbar-brand {
  color: $li-a-text;
}
.navBDefault .navbar-brand:hover,
.navBDefault .navbar-brand:focus {
  color: $hover-color;
  /*background-color: transparent;*/
}
.navBDefault .navbar-text {
  color: $li-a-text;
}
.navBDefault .navbNav > li > a {
  color: $li-a-text;
}
.navBDefault .navbNav > li > a:hover,
.navBDefault .navbNav > li > a:focus {
  color: $hover-color;
  background-color: transparent;
}

.navBDefault .navbNav>.open>a, .navBDefault .navbNav>.open>a:hover, .navBDefault .navbNav>.open>a:focus {
    color: $hover-color;
    background-color: $clear;
}

/*bespoke navbar styles*/
.navB, .navBDefault {
  border-radius: 0px;
  background-color: $opacity;
  margin-top: -2px;
}
.navBDefault ul {
  width: 100%;
  margin-top: -2px;
  margin-left: -15px;
}
.navB li {
  color: $li-a-text;
  padding: 25px 10px;
  font-size: 1.8em;
  -webkit-transition: #{$hover};
  transition: #{$hover};
  margin-left: 9%;
  &:first-child {
    padding: 0;
    margin-left: 0;
  }
  &:nth-child(2) {

  }
}

.navB a {
  letter-spacing: 0.4px;
  display: block;
  text-align: justify;
  text-decoration: none;
  padding: 14px 50px;
  @include hover-off($li-a-text) {};
  &:hover, .navB li {
    @extend %hover-on;
    -webkit-transform: #{$scale};
            transform: #{$scale};
  }
}

.navbNav>li>a {
  line-height: 25px;
}

.navbNav>li>.dropDownMenu {
    margin-top: 5px;
}

.dropDownMenu {
  background-color: $opacity;
  margin-top: 3px;
  min-width: 170px;
}

.dropDownMenu .divider {
  height: 1px;
  overflow: hidden;
  background-color: $background-color;
  padding: 0px;
}

#menu-li {
  font-size: 1.05em;
  padding: 3px 0;
  a {
    color: $li-a-text;
    @include hover-off($li-a-text) {};
    &:hover {
      background-color: $opacity;
      @extend %hover-on;
      -webkit-transform: none !important;
              transform: none !important;
    }
  }
  a:last-child {
    padding-left: 13px;
  }
}

/*appt button*/
.appointment {
font-family: $font-sec;
font-size: 34px;
color: $heroBtn-color;
letter-spacing: 0.4px;
border: 3px solid $heroBtn-color;
border-radius: 14px;
width: 480px;
height: 75px;
background: transparent;
margin-top: 100px;
z-index: 1;
}

.appointment a{
  @include hover-off($btn-text) {};
  &:hover {
    @extend %hover-on;
  }
}

/*Headline/main photo*/

.splash-intro-text {
  margin-top: 250px;
  text-align: center;
  z-index: 0;
}

.contact-intro-text {
  margin-top: 104px;
}

.splash-photo {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  display: block;
  margin: auto;
  width: 100%;
  z-index: -2;
  position: absolute;
}

.contact-photo {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.row2 {
  margin-top: 120px;
  background-color: $row2-bkgnd;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  p {
    padding-bottom: 50px;
    max-width: 810px;
    margin: 0 auto;
  }
}


/*Services button*/
.services {
  font-family: $font-sec;
  font-size: 32px;
  color: $row3-bkgnd;
  letter-spacing: 0.5px;
  background: $btn-text;
  border: 3px solid $row3-bkgnd;
  border-radius: 14px;
  width: 200px;
  height: 60px;
  margin-bottom: 50px;
  @include hover-off($btn-text) {};
  &:hover {
    -webkit-transition: #{$hover};
    transition: #{$hover};
    background: $btn-text;
  }
}

.services a{
  @include hover-off($row3-bkgnd) {};
  text-decoration: none;
  &:hover {
    @extend %hover-on;
    text-decoration: none;
  }
}

/*Photo carousel*/
.carousel-caption {
    top: 85% !important;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
}

.carousel-caption p {
  font-style: $font-sec;
  color: $carousel-caption;
  font-size: 18px;
  letter-spacing: 0.5px;
}

/*Footer*/
.row3 {
  background-color: $row3-bkgnd;
  padding: 35px;
}

.row3 li, .row3 p {
  font-family: $font-main;
  font-size: 20px;
  color: $li-a-text;
  letter-spacing: 0.31px;
  padding: 15px;
  text-align: center;
}

.row3 h2 {
  padding: 10px;
  text-align: center;
  font-size: 22px;
}

.row3 a{
  @include hover-off($btn-text) {};
  &:hover {
    @extend %hover-on;
  }
}

.col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Submit Button*/
.submit {
background: $background-color;
border: 3px solid $btn-text;
border-radius: 14px;
font-family: $font-sec;
font-size: 32px;
/*color: $btn-text;*/
letter-spacing: 0.5px;
width: 220px;
margin-top: 30px;
@include hover-off($btn-text) {};
  &:hover {
    @extend %hover-on;
    background-color: $btn-text;
  }
}


  /*col-md-3 is in row 3/bottom nav bar*/
.col-md-3 h2 {
  text-align: center;
  padding-top: 10px;
}

/*about us page styling*/
.row2-aboutUS {
  margin-top: 42px;
  background-color: $row2-bkgnd;
  &:last-child h2 {
    margin: 5%;
  }
  h2 {
    color: $sec-text-color;
    margin: 20px 0;
  }
}

.triangle-bio {
  position: relative;
  padding: 20px;
  width: 45%;
  height: 465px;
  #tri-clinical {
    position: absolute;
    top: 0px;
    left: 155px;
    @include hover-off($li-a-text) {};
    &:hover {
      @extend %hover-on;
      -webkit-transform: #{$scale};
              transform: #{$scale};
      z-index: 1;
    }
  }
  #tri-education {
    position: absolute;
    top: 234px;
    left: 20px;
    @include hover-off($li-a-text) {};
    &:hover {
      @extend %hover-on;
      -webkit-transform: #{$scale};
              transform: #{$scale};
      z-index: 1;
    }
  }
  #tri-advocate {
    position: absolute;
    top: 234px;
    left: 213px;
    @include hover-off($li-a-text) {};
    &:hover {
      @extend %hover-on;
      -webkit-transform: #{$scale};
              transform: #{$scale};
      z-index: 1;
    }
  }
}

.triangle-answers {
  padding: 20px;
  padding-right: 0;
  width: 45%;
  height: 465px;
}


.address-text {
  font-family: $font-sec;
  font-size: 18px;
  color: $sec-text-color;
  text-align: center;
}

.address-text:first-of-type {
  padding-top: 40px;
  font-weight: bold;
}
.address-text:last-of-type  {
  padding-bottom: 50px;
}

.tile4 {
  img {
    max-width: 90%;
    max-height: auto;
    margin-left: 5%;
    margin-top: 1%;
  }
}

#facility {
  p {
    font-size: 1em;
  }
}

/* patients.html page styling*/
.row2-patients {
  margin-top: 55px;
  background-color: $row2-bkgnd;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  p {
    padding-bottom: 50px;
    max-width: 700px;
    margin: 0 auto;
  }
}


.first-visit {
  width: 100%;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.tile1 {
  @include tile($chocolate, $h2-text) {};
  width: 50%;
  h1 {
    padding: 10px;
  }
  p {
    @include hover-off($btn-text) {};
      &:hover {
        @extend %hover-on;
      }
  }
}

.tile2 {
  @include tile(lighten($chocolate, 5%), $h2-text) {};
  width: 50%;
  h1 {
    padding: 10px;
  }
  p {
    @include hover-off($btn-text) {};
      &:hover {
        @extend %hover-on;
      }
  }
  h6 {
    color: $h2-text;
  }
}

.tile3 {
  @include tile($turquoise) {};
  width: 50%;
  h1 {
    color: $h2-text;
    padding: 10px;
  }
}

.tile4 {
  @include tile(darken($turquoise, 20%)) {};
  width: 50%;
  h1, a {
    color: $h2-text;
    padding: 10px;
  }
  h6 {
    color: $h2-text;
  }
}

.faq {
  .tile1, .tile2, .tile3, .tile4 {
    height: 500px;
  }
}

.first-visit, .faq {
  width: 100%;
}

/*contacts styling*/

.row1-contact {
  h1 {
    padding-bottom: 175px;
  }
}

/*Id Selectors***********************/
#nav-logo {
  height: 75px;
  width: 220px;
  margin-right: 10%;
}

#comment-input {
  width: 100%;
}

#location-photo {
  width: 90%;
  height: 470px;
  margin-left: 5%;
}

#sarah-photo {
  width: 68%;
  height: auto;
  margin-left: 16%;
}

#formAnswer {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*Media Queries**********************/
/*smaller desktops*/
@media only screen and (max-width:1200px) {
  .container {
    width: 90%;
  }

  .navB li {
    padding-left: 8px;
    margin-left: 6%;
    padding-top: 31px;
    &:first-child {
      margin-left: 2%;
    }
  }

  .navB a {
    letter-spacing: 0.7px;
    font-size: 24px;
  }

  .splash-photo {
    width: 100%;
  }

  .splash-intro-text {
    margin-top: 135px;
  }

  .contact-intro-text {
    margin-top: 104px;
  }

  .row2 {
    margin-top: 55px;
  }

  .carousel-caption {
      top: 80% !important;
      -webkit-transform: translateY(-20%);
              transform: translateY(-20%);
  }

  .carousel-caption p {
    font-size: 16px;
    letter-spacing: 0.7px;
  }

  #nav-logo {
    margin-top: 7px;
    height: 70px;
    width: 205px;
  }

  .first-visit, .faq {
    h1 {
      font-size: 3em;
    }
  }

  #location-photo {
    height: 380px;
  }
}

/*tablet*/
@media only screen and (max-width:991px) {
  .container {
    width: 90%;
  }

  .navB li {
    font-size: 1.05em;
    margin-left: 5%;
  }

  .navB a {
    letter-spacing: 0.7px;
    font-size: 20px;
  }

  .splash-photo {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .splash-intro-text {
    margin-top: 200px;
    font-size: 48px;
  }

  .row2 {
    margin-top: 45px;
  }

  .appointment {
    margin-top: 60px;
    font-size: 24px;
    width: 310px;
    height: 60px;
  }
  .carousel-caption {
      top: 77% !important;
      -webkit-transform: translateY(-23%);
              transform: translateY(-23%);
  }
  .submit {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .col-md-3 ul {
    margin: auto 0;
  }

  .col-md-3 li {
    text-align: center;
  }

  .faq {
    .tile1, .tile2, .tile3, .tile4 {
      height: 520px;
    }
  }

  .triangle-bio {
    padding: 20px 0;
    #tri-clinical {
      -webkit-transform: scale(0.8, 0.8);
              transform: scale(0.8, 0.8);
      top: 15px;
      left: 95px;
      &:hover {
        -webkit-transform: scale(0.9, 0.9);
                transform: scale(0.9, 0.9);
      }
    }
    #tri-education {
      -webkit-transform: scale(0.8, 0.8);
              transform: scale(0.8, 0.8);
      top: 213px;
      left: -20px;
      &:hover {
        -webkit-transform: scale(0.9, 0.9);
                transform: scale(0.9, 0.9);
      }
    }
    #tri-advocate {
      -webkit-transform: scale(0.8, 0.8);
              transform: scale(0.8, 0.8);
      top: 213px;
      left: 128px;
      &:hover {
        -webkit-transform: scale(0.9, 0.9);
                transform: scale(0.9, 0.9);
      }
    }
  }
}

/*mobile*/
@media only screen and (max-width:767px) {
  .container {
    width: 100%;
  }

  .navBDefault ul {
    background-color: $nav-mobile-bkgrnd;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }

  .navB li {
    padding: 2px;
  }

  .splash-intro-text {
    margin-top: 200px;
    font-size: 34px;
    position: relative;
  }

  .appointment {
    margin-top: 60px;
    font-size: 24px;
    width: 290px;
    height: 60px;
    position: relative;
  }


  .faq {
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   .tile1, .tile2, .tile3, .tile4 {
     width: 100%;
     height: 500px;
   }
  }

  .triangle-bio {
    height: 390px;
    #tri-clinical {
      -webkit-transform: scale(0.7, 0.7);
              transform: scale(0.7, 0.7);
      top: 20px;
      left: 95px;
      &:hover {
        -webkit-transform: scale(0.8, 0.8);
                transform: scale(0.8, 0.8);
      }
    }

    #menu-li {
      padding: 0px;
      font-size: 1.05em;
    }

    #tri-education {
      -webkit-transform: scale(0.7, 0.7);
              transform: scale(0.7, 0.7);
      top: 198px;
      left: -10px;
      &:hover {
        -webkit-transform: scale(0.8, 0.8);
                transform: scale(0.8, 0.8);
      }
    }
    #tri-advocate {
      -webkit-transform: scale(0.7, 0.7);
              transform: scale(0.7, 0.7);
      top: 198px;
      left: 115px;
      &:hover {
        -webkit-transform: scale(0.8, 0.8);
                transform: scale(0.8, 0.8);
      }
    }
  }
}
