/*Universal Selectors****************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  @include font-face('capsuula', fonts/capsuula);
  -webkit-font-smooth: antialiased;
}

li {
  font-family: $font-sec;
  font-size: 24px;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: $font-main;
  font-size: 64px;
  color: $h1color;
}

h2 {
font-family: $font-main;
font-size: 30px;
color: $h2-text;
letter-spacing: 0.31px;
}

p {
font-family: $font-sec;
font-size: 18px;
color: $p-text;
}

label {
  font-family: $font-main;
  font-size: 20px;
  color: $label-text;
  letter-spacing: 0.31px;
}

input {
  font-family: $font-sec;
  font-size: 20px;
  color: $input-text;
  letter-spacing: 0.31px
}

.container {
  padding: 0;
  //margin: 0;
}
.row {
  width: 100%;
  margin: 0;
  padding: 0;
}

// css bootstrap defult nav fixes

.navbar-default {
  background-color: $opacity;
  border: none;
}
.navbar-default .navbar-brand {
  color: $li-a-text;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $hover-color;
  //background-color: transparent;
}
.navbar-default .navbar-text {
  color: $li-a-text;
}
.navbar-default .navbar-nav > li > a {
  color: $li-a-text;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: $hover-color;
  background-color: transparent;
}

/*Class Selectors********************/
.navbar, .navbar-default {
  border-radius: 0px;
  background-color: $opacity;
  height: 80px;
  margin-top: -2px;
}
.navbar-default ul {
  //background-color: $opacity;
  width: 100%;
  z-index: 1;
  margin-top: -2px;
  position: absolute;
}
.navbar li {
  color: $li-a-text;
  float: left;
  padding-left: 15px;
  font-size: 2em;
  transition: #{$hover};
}
.navbar a {
  letter-spacing: 0.4px;
  display: block;
  text-align: justify;
  text-decoration: none;
  padding: 14px 50px;
  @include hover-off($li-a-text) {};
  &:hover, .navbar li {
    @extend %hover-on;
    transform: #{$scale};
  }
}

/*appt button*/
.appointment {
font-family: $font-sec;
font-size: 39px;
color: $heroBtn-color;
letter-spacing: 0.4px;
border: 3px solid $heroBtn-color;
border-radius: 14px;
width: 502px;
height: 75px;
background: transparent;
margin-top: 100px;
z-index: 1;
}

.appointment a{
  @include hover-off($btn-text) {};
  &:hover {
    @extend %hover-on;
  }
}

/*Headline/main photo*/

.splash-intro-text {
  margin-top: 300px;
  text-align: center;
  z-index: 0;
}

.splash-photo {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
  display: block;
  margin: auto;
  width: 100%;
  z-index: -2;
  position: absolute;
}

.row2 {
  margin-top: 130px;
  background-color: $row2-bkgnd;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  p {
    padding-bottom: 50px;
  }
}


/*Services button*/
.services {
  font-family: $font-sec;
  font-size: 32px;
  color: $btn-text;
  letter-spacing: 0.5px;
  background: $background-color;
  border: 3px solid $row3-bkgnd;
  border-radius: 14px;
  width: 200px;
  height: 60px;
  margin-bottom: 50px;
  @include hover-off($btn-text) {};
  &:hover {
    transition: #{$hover};
    background: $sec-text-color;
  }
}

.services a{
  @include hover-off($btn-text) {};
  text-decoration: none;
  &:hover {
    @extend %hover-on;
    text-decoration: none;
  }
}

/*Photo carousel*/
.carousel-caption {
    top: 85% !important;
    transform: translateY(-15%);
}

.carousel-caption p {
  font-style: $font-sec;
  color: $carousel-caption;
  font-size: 18px;
  letter-spacing: 0.5px;
}

/*Footer*/
.row3 {
  background-color: $row3-bkgnd;
  padding: 35px;
}

.row3 li {
  font-family: $font-main;
  font-size: 20px;
  color: $li-a-text;
  letter-spacing: 0.31px;
  padding: 15px;
}

.row3 a{
  @include hover-off($btn-text) {};
  &:hover {
    @extend %hover-on;
  }
}

.col-md-6 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

/*Submit Button*/
.submit {
background: $background-color;
border: 3px solid $btn-text;
border-radius: 14px;
font-family: $font-sec;
font-size: 32px;
//color: $btn-text;
letter-spacing: 0.5px;
width: 220px;
margin-top: 30px;
@include hover-off($btn-text) {};
  &:hover {
    @extend %hover-on;
    background-color: $btn-text;
  }
}


  /*col-md-3 is in row 3/bottom nav bar*/
.col-md-3 h2 {
  text-align: center;
}

/*about us page styling*/
.row2-aboutUS h2 {
  color: $sec-text-color;
}

.row2-aboutUS {
  margin-top: 140px;
  background-color: $row2-bkgnd;
  padding: 50px;
}

.about-appt {
font-family: $font-sec;
font-size: 39px;
color: $sec-text-color;
letter-spacing: 0.4px;
border: 3px solid $sec-text-color;
border-radius: 14px;
width: 502px;
height: 75px;
background: transparent;
margin-top: 100px;
z-index: 1;
}

.about-appt a{
  @include hover-off($sec-text-color) {};
  &:hover {
    @extend %hover-on;
  }
}

.address-text {
  font-family: $font-sec;
  font-size: 18px;
  color: $sec-text-color;
  text-align: center;
}

.address-text:first-of-type {
  padding-top: 40px;
}
.address-text:last-of-type  {
  padding-bottom: 90px;
}

/*Id Selectors***********************/

#nav-logo {
  height: 75px;
  width: 220px;
}

#comment-input {
  width: 100%;
}

#location-photo {
  height: 450px;
  width: 450px;
}

#sarah-photo {
  height: 240px;
  width: 240px;
}

/*Media Queries**********************/
/*smaller desktops*/
@media only screen and (max-width:1200px) {
  .navbar li {
    font-size: 1.5em;
    padding-left: 8px;
  }

  .navbar a {
    letter-spacing: 0.7px;
    padding-top: 20px;
  }

  .splash-photo {
    width: 100%;
  }

  .splash-intro-text {
    margin-top: 235px;
  }

  .row2 {
    margin-top: 60px;
  }

  .carousel-caption {
      top: 80% !important;
      transform: translateY(-20%);
  }

  .carousel-caption p {
    font-size: 16px;
    letter-spacing: 0.7px;
  }

  #nav-logo {
    height: 70px;
    width: 205px;
  }
}

/*tablet*/
@media only screen and (max-width:991px) {
  .splash-photo {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  .splash-intro-text {
    margin-top: 175px;
    font-size: 52px;
  }

  .row2 {
    margin-top: 45px;
  }

  .appointment {
    margin-top: 60px;
    font-size: 30px;
    width: 300px;
    height: 60px;
  }
  .carousel-caption {
      top: 77% !important;
      transform: translateY(-23%);
  }
  .submit {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .col-md-3 li {
    text-align: center;
  }

}

/*mobile*/
// @media only screen and (max-width:767px) {
//
// }
